body{
    background-color: #f8efed;

}

h1{
    background-color: #e1c7c1;
    color:#d3a294
}
h2{
    color:#d3a294
}
h3{
    color:#d3a294
}
/* .produto{
    width: 450PX;
    border: 1px solid;
    border-color:black;
} */