body{
    /* background-image:url(../src/imagens/fundo_harry.jpg); */

    /* background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center; */

  background-color:papayawhip

}

h1{
    color:darkred

}